---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I have gained professional experience working in networking companies and have a solid foundation in programming. Currently, I am focused on advancing my expertise in cybersecurity, with a particular emphasis on penetration testing for businesses. Although I consider myself at a junior level, I have established a strong knowledge base that enables me to continue developing independently. I am currently pursuing the Penetration Tester Specialist certification through the Hack The Box Academy, and I am committed to continuous learning and growth in this dynamic field.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Programmer Analyst"
      subtitle="[2021] to [2023] at [Duoc UC], [Santiago], [Chile]"
    />
    <TimeLineElement
      title="Penetration Tester Especialist Path"
      subtitle="[Today] at [Hack The Box Academy]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Network Technician Apprentice | Posem Spa"
      subtitle="From [March 2018] to [April 2019] at [Posem Spa], [Santiago], [Chile]"
    >
    I worked as a network technician apprentice, learning the basics of structured cabling and switch configuration, at the level of large companies (Valle Nevado, Cinépolis, Chilean state immigration branches).
    </TimeLineElement>
    <TimeLineElement
      title="Telecommunications and Networking Technician | Nco Chile"
      subtitle="From [May 2023] to [June 2024] at [Logic-net | NCO], [Santigo], [Chile]"
    >
    Responsible for the installation of CCTV systems, structured cabling (Coaxial, UTP Cat6 - Cat5e), installation and certification of network points, Patch Panels and Racks, physical topologies, and IT support for various affiliated companies.
    </TimeLineElement>
    <TimeLineElement
      title="Systems Assistant | Audiomusica"
      subtitle="From [February 2025] to [December 2025] at [Audiomusica], [Santiago], [Chile]"
    >
    Ensured wired and wireless network infrastructure security and perimeter security management. Provided N2 Critical Support on SAP HANA, resolving incidents and optimizing operational reports. Technical administration of CCTV surveillance systems.
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credly.com/badges/bbbf4e29-8748-49ff-9867-888f8045416b/public_url" target="_blank"> Cisco | Junior Cybersecurity Analyst</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Vulnerability Assessments</li>
    <li>Enumeration With Nmap</li>
    <li>Python Scripting</li>
    <li>Bash Scripting</li>
    <li>Virtualization</li>
    <li>Linux, Windows</li>
    <li>Sql inyections</li>
    <li>Pivoting, Tunneling</li>
    
  </ul>
</BaseLayout>
