---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-4 pt-6 h-auto min-h-full w-[19rem] bg-cyber-gray border-r border-white/5 text-base-content flex flex-col">
    <div class="w-fit mx-auto mb-8">
      <a href="/">
        <div class="avatar transition-transform hover:scale-105 block m-auto">
          <div class="w-[9rem] rounded-full avatar-ring">
            <Image class="mask mask-circle" format="webp" width={300} height={300} src="/newavatar.jpg" alt="Profile image" />
          </div>
        </div>
      </a>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
